In [1]:
print('Hello World')

Hello World

In [2]:
msg="Hello Joe"
print(msg)

Hello Joe

In [3]:
msg="Joe Wolff"
print(msg)

Joe Wolff

In [4]:
msg_upper= msg.upper()
print(msg_upper)

msg_title= msg.title()
print(msg_title)

JOE WOLFF
Joe Wolff

In [5]:
msg="Joe"+" "+"Wolff"
print(msg)

Joe Wolff

In [6]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1 + line2 + line3 + line4)

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

In [7]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1 + " " + line2 + " " + line3 + " " + line4)

You thought it would be easy You thought it wouldn't be strange But then you started coding Things never were the same

In [8]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1, line2, line3, line4)

You thought it would be easy You thought it wouldn't be strange But then you started coding Things never were the same

In [9]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1, line2, line3, line4, sep = "")

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

In [10]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1 + "\n" + line2 + "\n" + line3 + "\n" + line4)

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

In [11]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1, line2, line3, line4, sep = "\n")

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

In [12]:
single_in_double = "We may use 'single quotes' within double quotes"
double_in_single = 'We may use "double quotes" within single quotes'
print(single_in_double)
print(double_in_single)

We may use 'single quotes' within double quotes
We may use "double quotes" within single quotes

In [13]:
single_quotes = 'We may use \'single quotes\' in single quotes.'
double_quotes = "Or we may use \"double quotes\" in double quotes."
read_backslash = "We may use two backslashes to print a single backslash: \\"
lines = "Every\nword\nis\na\nnew\nline"
new_line_and_tab = "We may start a new line \n\tand use tab for a hanging indent"

print(single_quotes)
print(double_quotes)
print(read_backslash)
print(lines)
print(new_line_and_tab)

We may use 'single quotes' in single quotes.
Or we may use "double quotes" in double quotes.
We may use two backslashes to print a single backslash: \
Every
word
is
a
new
line
We may start a new line
	and use tab for a hanging indent

In [14]:
spaces = "    Look at all the spaces in the text!    "
print("no spaces removed:\n", spaces)

remove_left_spaces = spaces.lstrip()
remove_right_spaces = spaces.rstrip()
remove_left_and_right_spaces = spaces.strip()

print("Remove left spaces:\n" + remove_left_spaces)
print("Remove right spaces:\n" + remove_right_spaces)
print("Remove left and right spaces:\n" + remove_left_and_right_spaces)

no spaces removed:
     Look at all the spaces in the text!
Remove left spaces:
Look at all the spaces in the text!
Remove right spaces:
    Look at all the spaces in the text!
Remove left and right spaces:
Look at all the spaces in the text!

In [15]:
spaces = "    Look at all the spaces in the text!    "
print("no spaces removed:\n", spaces)

remove_all_spaces = spaces.replace(" ", "")
print("Remove all spaces:\n" + remove_all_spaces)

no spaces removed:
     Look at all the spaces in the text!
Remove all spaces:
Lookatallthespacesinthetext!

In [16]:
x = """Everything in this object will be recorded exactly as entered,
if we enter a new line or 
    a new line with a tab."""
    
print(x)

Everything in this object will be recorded exactly as entered,
if we enter a new line or
    a new line with a tab.

In [17]:
num1 = 7 + 9
num1s = "7" + "9"

print("num1:", num1,"\nnum1s:", num1s)

num1: 16
num1s: 79

In [18]:
num1 = 7 / 23
num2 = 8 / 69
num3 = 420 / 13

print("num1:", num1, "\nnum2:", num2, "\nnum3:", num3)

num1: 0.30434782608695654
num2: 0.11594202898550725
num3: 32.30769230769231

In [19]:
num1 = 8675309 / 22
num2 = 404 / 40
num3 = 500 / 3
sum_nums = num1 + num2 + num3

print( sum_nums)

394508.99393939396

In [20]:
num1 = 578 / 32
num2 = 785 / 44
num3 = 44 / 300
sum_nums = num1 + num2 + num3

print("num1 + num2 + num3: " + str(sum_nums))

num1 + num2 + num3: 36.05007575757576

In [21]:
import sys
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [22]:
x = 2.0 ** 1023
print(x)

8.98846567431158e+307

In [23]:
2.0 * 1024

2048.0

In [24]:
x = 2.0 ** 1023
print("x is of", type(x), "and is equal to", x)
y = 2 ** 1025
print("y is of", type(y), "and is equal to", y)

x is of <class 'float'> and is equal to 8.98846567431158e+307
y is of <class 'int'> and is equal to 359538626972463181545861038157804946723595395788461314546860162315465351611001926265416954644815072042240227759742786715317579537628833244985694861278948248755535786849730970552604439202492188238906165904170011537676301364684925762947826221081654474326701021369172596479894491876959432609670712659248448274432